{block content}
<div class="container">
    <div class="row">
        <h1 class="text-center">Pig Latin Translator</h1>
    </div>
    <div class="row">
        <div class="col">
            <textarea onkeyup="Func()" id="english" cols="60" rows="15"></textarea>
        </div>
        <div class="col">
            <textarea id="pig-latin" cols="60" rows="15"></textarea>
        </div>
    </div>
</div>
{/block}
